

.nav-dropdown {
    > ul > li {
        position: relative;
        &:hover, &:focus, &:active {
            > ul {
                opacity: 1;
                visibility: visible;
            }
        }
        > ul {
            transition: opacity $transition-default, visibility $transition-default;
            transition-delay: 100ms;
            opacity: 0;
            visibility: hidden;
            min-width: 10em;
            position:absolute;
            z-index:5000;
        }
    }
}